<div class="page-header">
  <h1 class="title is-2">404 - Page introuvable</h1>
  <p class="subtitle is-6">La ressource demandée n'existe pas.</p>
</div>
<a class="button is-primary" href="/">Retour accueil</a>
